* {
  font-family: Helvetica;
  /* border: 1px solid rgb(204, 30, 30); */
}

body {
  background-color:rgb(221, 212, 212)
}

h1, h2 {
  text-align: center;
}

thead td {
  text-align: center;
}

table, td{
  border: 1px solid rgb(204, 30, 30);
}